$ff-main: "Lato", sans-serif;
$ff-another: "Playfair Display";
$bg-color-dark: rgba(22, 25, 38, 0.91);
$fc-main-dark: #ffffff;
$fc-span-dark: #689ff2;
$fc-btn-dark: #53f3cd;
$bg-color-light: rgba(255, 255, 255, 0.9);
$fc-main-light: #262a3f;
$fc-span-light: #85bbb1;
$fc-btn-light: #f1897b;
$fz-main: 18px;
$fz-title: 40px;
$fz-num: 68px;
$fz-queto: 32px;
$color-video-border-light: #e4e4e4;
$color-video-border-dark: #515773;
$client-text-color: #ffffff;
