@import "fonts";
@import "vars";

// RESET //

body {
  margin: 0;
  padding: 0;
  font-family: $ff-main;
  color: $fc-main-light;
  font-size: $fz-main;
  font-weight: 300;
}

// UNIVERSAL //

.link {
  text-decoration: none;
}

.author {
  font-weight: 400;
}

.list {
  list-style: none;
  padding: 0;
}

.text {
  opacity: 0.8;
}

.title {
  margin: 0;
  font-family: $ff-another;
  font-weight: 400;
  font-size: 40px;
}

.highlighted-text {
  color: $fc-span-light;
  font-style: italic;
}

.item-right {
  display: grid;
  grid-template-columns: repeat(2, 350px);
  padding: 45px 0;
  background-color: $bg-color-light;
}

.button {
  position: relative;
  text-transform: uppercase;
  font-weight: 700;
  color: $fc-btn-light;
}

.button:hover {
  transition: 0.5s;
  color: #e54f3a;
}

.button::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 13px;
  bottom: -2px;
  left: 7px;
  opacity: 0.3;
  background-color: #f1897b;
}

.button:hover::after {
  background-color: #e54f3a;
}

.author {
  letter-spacing: 0.08em;
  color: $fc-main-dark;
  font-family: $ff-another;
  font-size: 20px;
  font-style: italic;
}

// WRAPPER //
.wrapper {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

// BANNER //
.banner {
  position: relative;
  background: url(../img/light/first-screen-image-light.png);
  background-size: cover;
  width: 100%;
  min-height: 1028px;

  &__text {
    position: absolute;
    top: 20%;
    width: 100%;
    max-width: 523px;
  }

  &__title {
    font-size: 44px;
  }

  &__subtitle {
    margin-bottom: 50px;
  }
}
// HEADER //
.header {
  display: flex;
  align-items: center;
  background: linear-gradient(
      270deg,
      rgba(255, 255, 255, 0.5) 0%,
      rgba(255, 255, 255, 0.244636) 24.1%,
      rgba(255, 255, 255, 0) 47.19%
    ),
    rgba(255, 255, 255, 0.02);
  backdrop-filter: blur(4px);
  max-width: 1600px;
  width: 100%;
  height: 10%;
  position: absolute;
  z-index: 1;
  top: 5%;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  &__item {
    position: relative;
    letter-spacing: 0.08em;
    font-weight: 400;
    font-size: 14px;
    margin: 0 20px;
    display: inline-block;
  }

  &__item:hover::before {
    content: "";
    width: 100%;
    height: 2px;
    background: #f1897b;
    position: absolute;
    left: 0;
    bottom: -5px;
  }

  &__link {
    font-family: $ff-main;
    color: $fc-main-light;
  }
}

.burger {
  display: none;
  width: 100%;
  max-width: 200px;
  position: relative;
  height: 40px;

  &__link {
    color: $fc-main-light;
    display: block;
    padding: 10px;
    border-top: 1px solid $color-video-border-light;
    background: linear-gradient(
        45deg,
        rgba(255, 255, 255, 0.5) 0%,
        rgba(255, 255, 255, 0.244636) 24.1%,
        rgba(255, 255, 255, 0) 47.19%
      ),
      rgba(255, 255, 255, 0.02);
    backdrop-filter: blur(4px);
  }

  &__label {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 2;
  }

  &__line {
    position: absolute;
    top: 8px;
    right: 10px;
    width: 35px;
    height: 2px;
    background-color: #262a3f;
    transition: 0.5s all;
  }

  &__line-second,
  &__line-third {
    top: 18px;
  }

  &__line-fourth {
    top: 28px;
  }
}

.mobile-menu {
  display: block;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  transform: translateY(100%);
  max-height: 0;
  font-size: 0;
  overflow: hidden;
  transition: 0.5s all;
}

#check-menu {
  display: none;
}

#check-menu:checked ~ .mobile-menu {
  max-height: 500px;
  font-size: 18px;
}

#check-menu:checked ~ .burger__line-first {
  display: none;
}

#check-menu:checked ~ .burger__line-second {
  transform: rotate(45deg);
}

#check-menu:checked ~ .burger__line-third {
  transform: rotate(-45deg);
}

#check-menu:checked ~ .burger__line-fourth {
  display: none;
}

// MAIN //
.info {
  &__img {
    position: absolute;
    top: 90%;
  }

  &__item-right {
    position: absolute;
    top: 99%;
    right: 10%;
  }

  &__num {
    text-align: center;
    font-size: $fz-num;
  }

  &__dollar::before {
    color: #e4e4e4;
    content: "$";
    font-size: 40px;
  }

  &__btn {
    margin-top: 15%;
  }
}

.numbers {
  &__sub-after,
  &__sub {
    text-align: center;
    position: relative;
  }

  &__sub-after::after {
    content: "";
    width: 50%;
    height: 2px;
    background-color: #85bbb1;
    position: absolute;
    left: 25%;
    bottom: -25px;
  }
}

.benefits {
  margin-top: 30%;

  &__list {
    display: grid;
    justify-items: center;
    row-gap: 3%;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, 50%);
  }

  &__item {
    position: relative;
    padding-top: 50px;
    width: 100%;
    max-width: 500px;
  }

  &__item::before {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #e4e4e4;
    position: absolute;
    top: 0;
    left: -30px;
  }
}

.quote {
  position: relative;
  margin-top: 10%;

  &__img {
    background: url(../img/bg/quote-background.png);
    min-height: 400px;
  }

  &__text {
    color: $fc-main-dark;
    font-size: $fz-queto;
  }

  &__text::before {
    position: absolute;
    top: -3%;
    left: -10%;
    content: url(../img/svg/quote-icon-light.svg);
  }

  &__img__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.video {
  max-width: 970px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  *::before {
    content: "";
    position: absolute;
    border: 1px solid $color-video-border-light;
    width: 13px;
    height: 13px;
    border-radius: 32px;
    top: 40%;
    left: 2%;
  }

  *::after {
    content: "";
    position: absolute;
    border: 1px solid $color-video-border-light;
    width: 35px;
    height: 35px;
    border-radius: 32px;
    top: 40%;
    right: 6px;
  }
  margin-top: 10%;
  &__border {
    margin: 0 auto;
    border: 1px solid $color-video-border-light;
    border-radius: 32px;
  }

  &__screen {
    width: 870px;
    height: 560px;
    padding: 20px;
    margin-left: 30px;
  }

  &__description {
    margin-top: 5%;
  }
}

.promises {
  margin-top: 10%;
  position: relative;

  &__title {
    font-size: 24px;
  }

  &__btn {
    margin-left: 25%;
    margin-top: 19%;
  }

  &__right {
    max-width: 770px;
    width: 100%;
    padding: 70px 75px;
    position: absolute;
    top: 15%;
    right: 10%;
  }

  &__right_item {
    max-width: 300px;
    width: 100%;
  }
}

.reviews {
  margin-top: 10%;
  &__item {
    position: relative;
  }

  &__list {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
  }

  &__img {
    filter: brightness(0.5);
  }

  &__content {
    padding-left: 20px;
    position: absolute;
    top: 8%;
    left: 2%;
    max-width: 290px;
    width: 100%;
  }

  &__text {
    color: $client-text-color;
    opacity: 1;
  }

  &__author {
    padding-top: 26px;
  }

  &__author-3 {
    padding-top: 50px;
  }
}

.contact_us {
  margin-top: 10%;
}

.contact {
  display: flex;
  padding-top: 5%;
  padding-bottom: 5%;
  justify-content: space-between;
  border-top: 1px solid $color-video-border-light;
  border-bottom: 1px solid $color-video-border-light;

  &__form {
    width: 100%;
    max-width: 470px;
    font-family: $ff-another;
    font-style: italic;
    color: #262a3f;
    opacity: 0.5;
    letter-spacing: 0.08em;
  }
}

.form {
  &__group {
    position: relative;
    margin-bottom: 32px;
  }

  &__label {
    position: absolute;
    top: 0;
    z-index: -1;
    transition: 0.3s;
  }

  &__input {
    font-family: $ff-another;
    color: #262a3f;
    font-size: 18px;
    font-weight: 400;
    width: 100%;
    padding-bottom: 10px;
    border: none;
    border-bottom: 1px solid #262a3f;
    background-color: transparent;
    outline: none;
    transition: 0.3s;
  }

  &__input:focus ~ &__label {
    top: -18px;
    font-size: 12px;
  }

  &__btn {
    opacity: 1;
    font-style: normal;
    font-family: $ff-main;
  }
}

.footer {
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.agreement {
  &__link {
    font-size: 16px;
    color: $fc-main-light;
    opacity: 1;
    font-weight: 400;
    padding: 0 10px;
  }
}

.design {
  &__company {
    font-size: 16px;
    opacity: 1;
    font-weight: 400;
  }
}
@import "media";
@import "dark-theme";
